.App {
    width: 1440px;
    height: 1024px;
    background-color: #F8F8F7;
}

/*CENTER*/
.center-container {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height to center vertically */
}

/*LOGO*/
.vlogo{
    
}


/*SERVICES TEXT*/
.service{
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center horizontally */
}

/*BUTTONS */
.fbtn{
    display: flex;
    width: 500px;
    height: 112px;
    margin-bottom: 20px;
    padding: 37px 0px 36px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: white;
}

/*TYPE SPACE*/
.type-container{
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-top: -650px;
}

/*TYPE SPACE*/
.typings{
    padding-left: 15px;
    width: 591px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid #000;
    font-size: 25px;
    margin-bottom: 1vh;
}

/*NEXT AND DONE CONTAINER*/
.center-container-next{
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-top: 10vh;
}

/*NEXT BUTTONS*/
.nbtns{
    display: flex;
    width: 500px;
    height: 112px;
    padding: 36px 375px 37px 370px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: #000;
    font-size: 20px;
    color: white;  
    margin-top: 10vh;  
}

/*DONE BUTTONS*/
.dbtns{
    display: flex;
    width: 500px;
    height: 112px;
    padding: 36px 375px 37px 370px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: #000;
    font-size: 20px;
    color: white;
    margin-top: 45vh;
    
}

