.App {
    width: 1440px;
    height: 1024px;
}

body{
    background-color: #F8F8F7;
}

/*CENTER*/
.center-container {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height to center vertically */
}

/*LOGO USER*/
.vlogo{
    
}

/*LOGO ADMIN*/
.vlogoadmin{

}


/*SERVICES TEXT*/
.service{
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center horizontally */
}

/*BUTTONS */
.fbtn{
    display: flex;
    width: 500px;
    height: 112px;
    margin-bottom: 20px;
    padding: 37px 0px 36px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #000;
    color: #000;
    background-color: #F8F8F7;
}

/*TYPE SPACE*/
.type-container{
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-top: -650px;
}

/*TYPE SPACE*/
.typings{
    padding-left: 15px;
    width: 591px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #000;
    color: #000;
    background-color: #F8F8F7;
    font-size: 25px;
    margin-bottom: 1vh;
}

/*NEXT AND DONE CONTAINER*/
.center-container-next{
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-top: 10vh;
}

/*NEXT BUTTONS*/
.nbtns{
    display: flex;
    width: 500px;
    height: 112px;
    padding: 36px 375px 37px 370px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: #000;
    font-size: 20px;
    color: white;  
    margin-top: 10vh;  
}

/*DONE BUTTONS*/
.dbtns{
    display: flex;
    width: 500px;
    height: 112px;
    padding: 36px 375px 37px 370px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: #000;
    font-size: 20px;
    color: white;
    margin-top: 45vh;
    
}

/*ADMIN*/
.box1{
    position: absolute;
    width: 850px;
    height: 717px;
    flex-shrink: 0;
    background: white;
    margin-left: 70px;
}

.box2{
    position: absolute;
    width: 688px;
    height: 717px;
    flex-shrink: 0;
    background: white;
    margin-left: 1000px;
}


.admins1{
    position: absolute; /* Corrected from 'display' to 'position' */
    border-radius: 50px;
    margin-top: 15px;
    margin-right: 1635px;
    right: 0; /* This will move it towards the right */
    font-size: 30px;
}

.admins2{
    position: absolute; /* Corrected from 'display' to 'position' */
    border-radius: 50px;
    margin-top: 15px;
    margin-right: 500px;
    right: 0; /* This will move it towards the right */
    font-size: 30px;
}

.admins3{
    position: absolute; /* Corrected from 'display' to 'position' */
    border-radius: 50px;
    margin-top: 20px;
    margin-right: 650px;
    right: 0; /* This will move it towards the right */
    font-size: 30px;
}

.admins4{
    position: absolute; /* Corrected from 'display' to 'position' */
    border-radius: 50px;
    margin-top: 20px;
    margin-right: 500px;
    right: 0; /* This will move it towards the right */
    font-size: 30px;
}

.squares1{
    position: absolute; /* Corrected from 'display' to 'position' */
    width: 550px;
    height: 295px;
    border-radius: 50px;
    background: #A1A09F;
    margin-top: 70px;
    margin-right: 1310px;
    right: 0; /* This will move it towards the right */
}

.squares2{
    position: absolute; /* Corrected from 'display' to 'position' */
    width: 550px;
    height: 295px;
    border-radius: 50px;
    background: #A1A09F;
    margin-top: 70px;
    margin-right: 730px;
    right: 0; /* This will move it towards the right */
}

.squares3{
    position: absolute; /* Corrected from 'display' to 'position' */
    width: 550px;
    height: 295px;
    border-radius: 50px;
    background: #A1A09F;
    margin-top: 400px;
    margin-right: 1310px;
    right: 0; /* This will move it towards the right */
}

.squares4{
    position: absolute; /* Corrected from 'display' to 'position' */
    width: 550px;
    height: 295px;
    border-radius: 50px;
    background: #A1A09F;
    margin-top: 400px;
    margin-right: 730px;
    right: 0; /* This will move it towards the right */
}


.delete{
    position: absolute;
    width: 212px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #000;
    color: white;
    margin-top: 225px;
    margin-left: 30px;
}

.next{
    position: absolute;
    width: 212px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #000;
    color: white;
    margin-top: 225px;
    margin-left: 300px;
}

.counter{
    position: absolute;
    color: black;
    margin-top: 180px;
    margin-left: 216px;
    font-size: 25px;
}

