
*{
 text-decoration: none;
}

nav{
    background:rgba(51,51,51,0.7);
    backdrop-filter: blur(100px);
    font-family: "Bebas Neue", sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}


nav .adminnavtext{
    color: white;
    font-size: 25px;
    margin-right: 25px;
    letter-spacing: 3px;
    z-index: 0;
    display: inline-block;
    transition: 0.5s;
    position: relative;
}

nav .adminnavtext:hover {
    color:rgba(233,183,46,1);
}

nav .adminnavtext span{
    position: absolute;
    top: -5px;
    left: -15px;
    right: 60px;
    width: 90px;
    height: 40px;
    z-index: -1;
    border-bottom: 3px solid rgba(233,183,46,1);
    border-radius: 10px;
    transform: scale(0) translateY(50px);
    transition: .5s;
}

nav .adminnavtext:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}



/* background: linear-gradient(90deg, rgba(217,169,91,1) 8%, rgba(233,183,46,1) 50%, rgba(255,255,255,1) 100%); */


